$colors:(
    "primary":#db9e3f,
    "info":#4b67af,
    "white":#fff,
    "light":#f9f9f9,
    'light-1': #d4d9de,
    'grey': #999,
    "grey-1":#666,
    "dark-1": #343440,
    "dark":#222,
    "black":#000
);

$border-color:map-get($colors, 'light-1');
// font-size
// $base-font-size:1rem;  //13px
$font-size:(
    xxxs:0.4615rem,
    xxs:0.6154rem,  //8px
    xs:0.7692rem,  //10px
    sm:0.9231rem, //12px
    md:1rem,        //13px
    lg:1.0769rem,   //14px
    xlg:1.2308rem,   //16px
);

$jc-flex:(
    start:flex-start,
    end:flex-end,
    center:center,
    between:space-between,
    around:space-around,
);

//4.项目在交叉轴上的对其方式
$ai:(
    start:flex-start,
    end:flex-end,
    center:center,
    stretch:stretch
);

//5. 轴线对齐方式align-content
$ac-flex:(
    start:flex-start,
    end:flex-end,
    center:center,
    between:space-between,
    around:space-around,
    stretch:stretch
);

//spacing 0-5 level
$base-spacing-size:1rem;
$spacing-types:(
    m:margin,
    p:padding
);
$spacing-direction:(
    l:left,
    r:right,
    b:bottom,
    t:top,
);

// m-0, mx-0,  mt-0 three types
$spacing-sizes:(0 : 0, 1: 0.25, 2: 0.5, 3: 0.75, 4: 1, 5: 1.5, 6: 3.0);
