@import './variables';
//reset
*{
    box-sizing: border-box;
    outline: none;
}

html{
    font-size: 13px;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    background: #f1f1f1;
    -webkit-font-smoothing:antialiased;
}

a{
    color: #999;
}

.w-100{
    width: 100%;
}

.h-100{
    height: 100%;
}

//color
@each $colorKey, $color in $colors {
    .text-#{$colorKey}{
        color: $color;
    }
    .bg-#{$colorKey}{
        background-color: $color;
    }
}

//text-align
@each $var in (left, center, right) {
    .text-#{$var}{
        text-align: $var!important;
    }
}

// font-size
@each $font-size-key, $f-size in $font-size{
    .fs-#{$font-size-key}{
        font-size: $f-size;
    }
}

//flex
.d-flex{
    display: flex;
}
//1.主轴方向
.flex-column{
    flex-direction: column;
}
//2. 换行
.flex-wrap{
    flex-wrap: wrap;
}

@each $jcKey, $jc in $jc-flex {
    .jc-#{$jcKey}{
        justify-content: $jc;
    }
}


@each $aiKey, $ai in $ai {
    .ai-#{$aiKey}{
        align-items: $ai;
    }
}

@each $acKey, $ac in $ac-flex {
    .ac-#{$acKey}{
        align-content: $ac;
    }
}

// 6.伸缩
.flex-1{
    flex:1;
}
.flex-grow-1{
    flex-grow: 1;
}

@each $level, $size in $spacing-sizes {
    //m-0
    @each $typeKey, $type in $spacing-types{
        .#{$typeKey}-#{$level}{
            #{$type}:$size*$base-spacing-size
        }
    }
    //mx-0,my-0
    @each $typeKey, $type in $spacing-types{
        .#{$typeKey}x-#{$level}{
            #{$type}-left:$size*$base-spacing-size;
            #{$type}-right:$size*$base-spacing-size;
        }
        .#{$typeKey}y-#{$level}{
            #{$type}-top:$size*$base-spacing-size;
            #{$type}-bottom:$size*$base-spacing-size;
        }
    }
    //mt-0
    @each $typeKey, $type in $spacing-types{
        @each $directionKey, $direction in $spacing-direction{
            .#{$typeKey}#{$directionKey}-#{$level}{
                #{$type}-#{$direction}:$size*$base-spacing-size
            }
        }
    }
    
}

.btn{
    border: none;
    border-radius: 0.1538rem;
    font-size: map-get($font-size, 'xxs');
    span{
        display: block;
        -webkit-transform:scale(0.9);
    }
    padding: 0.3rem 0.7rem;
    font-weight: 500;
}

.nav{
    display: flex;
    .nav-item{
        padding-bottom: 0.2rem;
        border-bottom: 3px solid transparent;
        &.active{
            border-bottom-color: map-get($colors, "white")
        }
    }
    .nav-item-inverse{
        padding-bottom: 0.2rem;
        border-bottom: 3px solid transparent;
        &.active{
            color:map-get($colors, "primary");
            border-bottom-color: map-get($colors, "primary")
        }
    }
}

.nav_icons{
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    .nav_item{
      width: 25%;
      border-right: 1px solid $border-color;
      &:nth-child(4n){
        border-right: none;
      }
      &:nth-child(13){
        margin-bottom: 0.5rem;
      }
    }
}

.sprite{
    background: url('../images/index.png') no-repeat 0 0;
    background-size: 28.8462rem;
    display: inline-block;
    &.sprite-news{
      background-position: 63.546% 15.517%;
      width: 1.7692rem;
      height: 1.5385rem;
    }
    &.sprite-stories{
      background-position: 90.483% 15.614%;
      width: 1.7692rem;
      height: 1.5385rem;
    }
    &.sprite-malls{
      background-position: 36.746% 0.924%;
      width: 1.4615rem;
      height: 1.6923rem;
    }
    &.sprite-ava{
      background-position: 10.408% 15.517%;
      width: 1.5385rem;
      height: 1.5385rem;
    }
    &.sprite-fishes{
      background-position: 89.733% 1.266%;
      width: 1.5385rem;
      height: 1.5385rem;
    }
    &.sprite-honor{
      background-position: 36.467% 15.287%;
      width: 1.8462rem;
      height: 1.6rem;
    }
    &.sprite-materials{
      background-position: 9.302% 0.813%;
      width: 2.3846rem;
      height: 1.9231rem;
    }
    &.sprite-camps{
      background-position: 63.3% 0.927%;;
      width: 1.8462rem;
      height: 1.8462rem;
    }
    &.sprite-fficial-accounts{
      background-position: 0 96.207%;
      width: 1.8462rem;
      height: 1.5385rem;
    }
    &.sprite-releases{
      background: url('../images/releases.png') no-repeat 0 0;
      width: 2.3846rem;
      height: 1.9231rem;
      background-size: contain;
    }
    &.sprite-battle-env{
      background: url('../images/battle-env.png') no-repeat 0 0;
      background-size: contain;
      width: 3rem;
      height: 2rem;
    }
    &.sprite-teams{
      background: url('../images/teams.png') no-repeat 0 0;
      background-size: contain;
      width: 3.7em;
      height: 2rem;
    }
    &.sprite-interactions{
      background: url('../images/interactions.png') no-repeat 0 0;
      background-size: contain;
      width: 2.5rem;
      height: 2.5rem;
    }
    &.sprite-arrow{
      background-position: 38.577% 52.076%;
      width: 1.7692rem;
      height: 1.7692rem
    }
}